{
  "presets": [
    "module:metro-react-native-babel-preset",
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-flow"
  ],
  "plugins": [
    ["@babel/plugin-transform-flow-strip-types"],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
